[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = git@github.com:zrporz/simple-knn.git
[submodule "submodules/4d-langsplat-rasterization"]
	path = submodules/4d-langsplat-rasterization
	url = git@github.com:NicoStellwag/4d-langsplat-rasterization.git
[submodule "submodules/4d-langsplat-tracking-anything-with-deva"]
	path = submodules/4d-langsplat-tracking-anything-with-deva
	url = git@github.com:zrporz/4d-langsplat-tracking-anything-with-deva.git
[submodule "submodules/vipe"]
	path = submodules/vipe
	url = https://github.com/nv-tlabs/vipe
